<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sample/better.css' %}">
<body>
    <div>
        {% if not user.is_authenticated %}
        <h2><a href="{% url 'login' %}">Login</a> to view this page</h2>
        {% else %}
        <h2>Welcome back, {{ user.username }}.</h2>
        <p>Status: {% if user.fitbituser %}✅{% else %}<a href="{% url 'fitbitlogin' %}" id="authfitbit">click to authenticate</a>{% endif %}.</p>
        <!-- if we have daily_activity in the context, display the raw json -->
        {% if daily_activity %}
        <h3>Today's activity:</h3>
        <pre>{{ daily_activity }}</pre>
        <h3>Today's steps:</h3>
        <pre>{{ activity_intraday }}</pre>
        <h3>Today's sleep:</h3>
        <pre>{{ sleep_log }}</pre>
        {% endif %}
        <!-- log out link -->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" name="logout">Logout</button>
        </form>
        {% endif %}
</div>
</body>
</html>